/*
    Global styles of the entire application:
    - css variables
    - general css rules for body (font-sizes ecc.)
    - useful classes repeated in different components 
*/

:root {
    --bg-color: #fefefe;
    --gradient-color: linear-gradient(30deg, #1d5e5c, #153f3e);
    --accent-color: #2f928f;
    --par-color: #5f5f5f;
    --par-color-alt: #ffffff;
    --title-color: #000000;
    --title-color-alt: #ffffff;
    --title-color-accent: #1d5e5c;
    --btn-color: #fefefe;
    --btn-color-alt: #1d5e5c;
    --orientational-color: #16403f;

    --font-size: 16px;
    --content-width: min(90%, 1200px);

    /*--mobile-width: 1000px; */
}

html {
    font-size: var(--font-size);
}

body {
    margin: 0;
    background-color: var(--title-color-accent);
    font-family: Comme;
    scroll-behavior: smooth;
    min-width: 250px;
    min-height: 600px;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2.75rem;
    margin: 0;
}

.page-h1-title {
    color: var(--accent-color);
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    font-size: 1.9rem;
    margin: 0;
}

p {
    margin: 0;
}

.orientational-info {
    font-size: 1.75rem;
    color: var(--orientational-color);
    margin: 0.75rem auto;
}

.disable-scrolling {
    overflow-y: hidden;
}

.colored-bar {
    background-image: var(--gradient-color);
    color: var(--par-color-alt);
    text-align: center;
}

.content {
    width: var(--content-width);
    margin: 2rem auto;

@media (width >=1000px) {
    body {
        overflow: auto !important;
    }
}

@media (width < 1000px) {
    body {
        font-size: 14px;
    }
}
